h1 {
  text-align: center;
}

h2, h3 {
  margin-left: 3vw;
}

#dev-academy-logo {
  width: 400px;
  max-width: 50vw;
}

#logo-container {
  margin-top: 20px;
  vertical-align: top;
  float: right;
}

#welcome {
  height: 100px;
  width: auto;
  display: inline-block;
  vertical-align: top;
  border: 5px solid black;
  margin-right: 3%;
  border-radius: 10%;
}

#text-summary {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.d-inline {
  display: inline-block;
}

.lorem-text {
  font-family: "Dancing Script", "Lucida Handwriting", cursive;
}

.first-word {
  font-size: 200%;
}

body {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  background-color: lightgray;
  font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 320px) {
  body {
    background-color: lightgreen;
  }
}

@media (min-width: 768px) {
  body {
    background-color: lightpink;
  }
}

@media (min-width: 1200px) {
  body {
    background-color: lightblue;
  }
}
