h1 {
  text-align: center;
}

#dev-academy-logo {
  height: 120px;
}

#funny-pic {
  height: 100px;
  width: auto;
  display: inline-block;
  vertical-align: top;
  border: 10px solid black;
  margin-left: 40px;
  border-radius: 10%;
}

.d-inline {
  display: inline-block;
}

.lorem-text {
  font-family: "Dancing Script", "Lucida Handwriting", cursive;
}

.first-word {
  font-size: 200%;
}

body {
  background-color: lightgray;
  font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 320px) {
  body {
    background-color: lightgreen;
  }
}

@media (min-width: 768px) {
  body {
    background-color: lightpink;
  }
}

@media (min-width: 1200px) {
  body {
    background-color: lightblue;
  }
}
